@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300;500&family=Montserrat:wght@300;400;700&family=Raleway:wght@300;600&family=Roboto:wght@300;700&family=Signika+Negative:wght@400;700&family=Ubuntu+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300;500&family=Montserrat:wght@300;400;700&family=Raleway:wght@300;600&family=Roboto:wght@300;700&family=Share+Tech+Mono&family=Signika+Negative:wght@400;700&family=Ubuntu+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300;500&family=Major+Mono+Display&family=Montserrat:wght@300;400;700&family=Raleway:wght@300;600&family=Roboto:wght@300;700&family=Share+Tech+Mono&family=Signika+Negative:wght@400;700&family=Ubuntu+Mono:wght@400;700&display=swap");

:root {
    --headline-font: "Major Mono Display", monospace;
    --sub-font: "Share Tech Mono", monospace;
    --sub2-font: "Raleway", sans-serif;
    --main-color: #26302F;
    --second-color: #C7D4D2;
    --link-color: #849492;
    --shade-color: #E0DADE;
    --graident: linear-gradient(
    45deg,
    white,
    #586e6d,
    #697775,
    white
    );
    /* color-scheme: dark; */
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

::selection {
    background-color: var(--second-color);
    color: black;
}

ul {
    list-style: none;
}

body {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
}

/* load animation start*/
#logo {
    animation: logo-ani 1.5s forwards;
}

@keyframes logo-ani {
    0% {
        transform: translateY(-100%);
    }
}

nav > ul > li {
    animation: scale-li 2s forwards .3s;
}

@keyframes scale-li {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.hero {
    /* opacity: 0; */
    animation: hero-ani 1s forwards;
}

@keyframes topics-ani {
    0% {
        transform: translateY(-350%);
    }
}
/* load animation end*/

/* header start */
header {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 23rem;
}

.nav-bar > li > .nav-li {
    margin: 0 6rem;
    font-family: var(--sub-font);
    font-weight: 700;
    font-size: 3rem;
    color: var(--main-color);
    transition: .2s ease-in-out;
}

@keyframes animate-color {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.nav-bar > li > .nav-li:hover,
.nav-bar > li > .nav-li:focus {
    padding: .5rem;
    background-size: 300%;
    animation: animate-color .5s alternate infinite ease-in-out;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: var(--graident);
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-radius: 10px;
}

 header > .topics {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: var(--main-color);
    animation: topics-ani 3s forwards;
}

header > .topics > a {
    margin: 0 5.5rem;
    transition: .5s;
}

header > .topics > a:hover,
header > .topics > a:focus {
    border-bottom: 1px solid var(--shade-color);
}

header > .topics > a > h1 {
    font-size: 1.4rem;
    color: var(--second-color);
    font-family: var(--headline-font);
}

header > .topics > a > h1:hover, 
header > .topics > a > h1:focus {
    color: white;
}
/* header end */

/* main start */
.lumas-nox-btn {
    margin-top: 10rem;
    margin-bottom: 1rem;
    width: 160px;
    height: 50px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--link-color);
    border-right: 2px solid var(--link-color);
    border-radius: 10px;
    transition: .2s ease-in-out;
    font-family: var(--sub-font);
    font-size: 2.5rem;
    letter-spacing: -2px;
    word-spacing: -8px;
    color: rgb(5, 5, 5);
}
/* 
.fa-wand-sparkles:hover,
.fa-wand-sparkles:focus {
    transform: rotate(18deg);
} */

.lumas-nox-btn:hover,
.lumas-nox-btn:focus {
    border-left: 2px solid var(--link-color);
    border-top: 2px solid var(--link-color);
    border-right: none;
    border-bottom: none;
    border-radius: 10px;
}

main > section {
    display: flex;
    justify-content: center;
    text-align: center;
}
main > section >h1{
    font-family: var(--sub-font);
    margin: 20rem 0;
    font-size: 5rem;
}
/* main start */